<h1> Assign Event Supervisor </h1>
<%= form_for @event_supervisor_role, as: :event_supervisor_role, url: tournament_event_supervisor_roles_path do |f| %>
  <p>User ID: <%= f.number_field :user_id %></p>
  <p>Tournament ID: <%= f.number_field :tournament_id %></p>
  <p><%= f.submit %></p>
<% end %>

